pip~=26.1.1
pytest~=9.0.3
Pygments~=2.20.0
wcwidth~=0.6.0
pluggy~=1.6.0
iniconfig~=2.3.0
pexpect~=4.9.0
chardet
pip~=26.1.1
pytest~=9.0.3
Pygments~=2.20.0
wcwidth~=0.6.0
pluggy~=1.6.0
iniconfig~=2.3.0
pexpect~=4.9.0
chardet
